<!doctype html>
<html lang="js">
    <head>
        <meta charset="UTF-8"/>
        <title>Programmer Profile</title>
        <link rel="stylesheet" href="/static/lib/css/bootstrap.css">
    </head>
    <body>
        <script src="/static/lib/js/jquery.js"></script>
        <script src="/static/js/config.js"></script>
        <script src="/static/lib/js/require.js"></script>
        <script src="/static/lib/js/bootstrap.js"></script>
        <script>
require(['app'], function(app){
    app.start();
});
        </script> 
        <div id="main-region"></div>
    </body>
</html>
