{% extends "base.html" %}
{% load static %}

{% block moreheader %}
<meta property="og:url" content="http://www.programmerprofile.net/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Programmer Profile" />
<meta property="og:site_name" content="Programmer Profile" >
<meta property="og:description" content="言語・技術毎にTwitterユーザーをリスト化するサービスです。プロフィール代わりにもご利用頂けます。" />
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <div class="jumbotron-contents">
                    <p><a href="https://github.com/nakazye/ProgrammerProfile/blob/master/README.md" target="_blank">README.md</a></p>
                    <hr />
                    {{ README| safe }}
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">お願い</div>
                <div class="panel-body">
                    <p>サービスを開始したばかりで、情報が豊富とは言い難い現状です。</p>
                    <p><b>あなたが知っているすごい人の情報、頑張っている友達の情報、そしてあなた自身の情報を教えてください。</b>(ログインすることで推薦が可能となります)</p>
                    <p>各ユーザーのページには、http://www.programmerprofile.net/user/&lt;twitterユーザー名&gt; でもアクセス可能です。</p>
                    <form action="/user/" method="GET">
                        <div class="row">
                            <div class="col-xs-11">
                                <input class="form-control" placeholder="Twitterユーザー名(@含めず)" name="username">
                            </div>
                            <div class="col-xs-1">
                                <button type="button" class="btn btn-primary" onclick="submit();">検索</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">念のため</div>
                <div class="panel-body">
                    <p>本サービスでは、ログインにTwitterの認証機能(OAuth)を利用しています。</p>
                    <p>つまり、認証においてはTwitterと同じレベルで安全性が確保されています。</p>
                    <p>なお、OAuthの情報はログイン管理にのみ利用しており、かつパーミッションもフォローや投稿ができない一番弱いものを設定しています(Twitter連携時に確認できます)。</p>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">作った人</div>
                <div class="panel-body">
                    <p>この人です→<a href="/user/nakazye/">@nakazye</a></p>
                    <p>個人で運営しているサービスの為、問い合わせに対する迅速な返信や対応ができない場合もございますのでご了承ください。</p>
                </div>
            </div>
        </div>
    </div>

    <hr />


    <!-- social -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="row">
        <div class="col-md-12 text-center">
            <div style="display: inline-block; vertical-align: top;">
                <a href="http://b.hatena.ne.jp/entry/{{ request.build_absolute_uri }}"
                   class="hatena-bookmark-button"
                   data-hatena-bookmark-layout="vertical-balloon"
                   data-hatena-bookmark-lang="ja"
                   title="このエントリーをはてなブックマークに追加">
        <img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png"
             alt="このエントリーをはてなブックマークに追加"
             width="20"
             height="20"
             style="border: none;" />
                </a>
                <script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
            </div>
            <div style="display: inline-block; vertical-align: top;">
                <a href="https://twitter.com/share"
                   class="twitter-share-button twitter-count-vertical"
                   data-hashtags="PgmrProf"
                   data-lang="ja" data-count="vertical">
                    ツイート
                </a>
                <script>
                 !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
                     if(!d.getElementById(id)){js=d.createElement(s);
                         js.id=id;js.src="//platform.twitter.com/widgets.js";
                         fjs.parentNode.insertBefore(js,fjs);
                     }
                 }(document,"script","twitter-wjs");
                </script>
            </div>
            <div style="display: inline-block; vertical-align: top;">
                <div class="fb-like" expr:data-href="data:post.url" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
