{% extends "base.html" %}
{% load static %}

{% block title %}Programmer Profile - {% if selected %}{{ selected }}{% else %}各{% endif %}界のフォローすべきTwitterアカウント{% endblock %}

{% block moreheader %}
<meta property="og:url" content="http://www.programmerprofile.net/staruser/{{ selected | urlencode }}{% if selected %}/{% endif %}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Programmer Profile - {% if selected %}{{ selected }}{% else %}各{% endif %}界のフォローすべきTwitterアカウント" />
<meta property="og:site_name" content="Programmer Profile" >
<meta property="og:description" content="{% if selected %}{{ selected }}{% else %}各{% endif %}界のフォローすべきTwitterアカウント" />
{% endblock %}

{% block content %}

<div class="page-header text-center">
    <h3 style="margin: 15px">{% if selected %}{{ selected }}{% else %}各{% endif %}界のフォローすべきTwitterアカウント</h3>
    <br />
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {% if selected %}
            {{ selected }}
            {% else %}
            カテゴリーを選択
            {% endif %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li class="dropdown-submenu">
                <a href="#">言語</a>
                <ul class="dropdown-menu" style="height: 500px; overflow-y: scroll;">
                    {% for skill in skillLanguageCategory %}
                    <li{% if skill == selected %} class="active"{% endif %}><a href="/staruser/{{ skill | urlencode }}/">{{ skill }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a href="#">特定プラットフォーム向け開発</a>
                <ul class="dropdown-menu">
                    {% for skill in skillPlatformCategory %}
                    <li{% if skill == selected %} class="active"{% endif %}><a href="/staruser/{{ skill | urlencode }}/">{{ skill }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a href="#">エディタ/IDE</a>
                <ul class="dropdown-menu">
                    {% for skill in skillEditorCategory %}
                    <li{% if skill == selected %} class="active"{% endif %}><a href="/staruser/{{ skill | urlencode }}/">{{ skill }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a href="#">構成管理ツール</a>
                <ul class="dropdown-menu">
                    {% for skill in skillConfigurationCategory %}
                    <li{% if skill == selected %} class="active"{% endif %}><a href="/staruser/{{ skill | urlencode }}/">{{ skill }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a href="#">その他</a>
                <ul class="dropdown-menu">
                    {% for skill in skillOthersCategory %}
                    <li{% if skill == selected %} class="active"{% endif %}><a href="/staruser/{{ skill | urlencode }}/">{{ skill }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    <br /><br />    
</div>

<div class="container">
    <div class="text-center">
        <p>あの人がいないじゃないか！というのがありましたら、推薦宜しくお願いします。有益なリスト作りにご協力お願いします！</p>
    </div>
     <div class="row">
        <div class="col-xs-3"></div>
        <form action="/user/" method="GET">
            <div class="row">
                <div class="col-xs-5">
                    <input class="form-control" placeholder="Twitterユーザー名(@含めず)" name="username">
                </div>
                <div class="col-xs-1">
                    <button type="button" class="btn btn-primary" onclick="submit();">検索</button>
                </div>
            </div>
        </form>
        <div class="col-xs-3"></div>
    </div>
     <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <hr />
            {% for staruser in users %}
            <div class="media">
                <div class="media-left">
                    <a href="/user/{{ staruser.username }}">
                        <img src="{{ staruser.userImage }}" alt="@{{ staruser.username }}" width="65" height="65">
                    </a>
                </div>
                <div class="media-body">
                    <small>{{ staruser.num_recommend }}人の推薦</small>
                    <a href="/user/{{ staruser.username }}">
                        <h4 class="media-heading">@{{ staruser.username }}</h4>
                    </a>
                    <p>{{ staruser.userScreenName }}</p>
                    <small>{{ staruser.userDescription }}</small>
                </div>
            </div>
            <hr />
            {% endfor %}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- social -->
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
             }(document, 'script', 'facebook-jssdk'));
            </script>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div style="display: inline-block; vertical-align: top;">
                        <a href="http://b.hatena.ne.jp/entry/http://www.programmerprofile.net/staruser/{{ selected | urlencode }}{% if selected %}/{% endif %}"
                           class="hatena-bookmark-button"
                           data-hatena-bookmark-layout="vertical-balloon"
                           data-hatena-bookmark-lang="ja"
                           title="このエントリーをはてなブックマークに追加">
                            <img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png"
                                 alt="このエントリーをはてなブックマークに追加"
                                 width="20"
                                 height="20"
                                 style="border: none;" />
                        </a>
                        <script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
                    </div>
                    <div style="display: inline-block; vertical-align: top;">
                        <a href="https://twitter.com/share"
                           class="twitter-share-button twitter-count-vertical"
                           data-hashtags="PgmrProf"
                           data-lang="ja" data-count="vertical">
                            ツイート
                        </a>
                        <script>
                         !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
                             if(!d.getElementById(id)){js=d.createElement(s);
                                 js.id=id;js.src="//platform.twitter.com/widgets.js";
                                 fjs.parentNode.insertBefore(js,fjs);
                             }
                         }(document,"script","twitter-wjs");
                        </script>
                    </div>
                    <div style="display: inline-block; vertical-align: top;">
                        <div class="fb-like" expr:data-href="data:post.url" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
