{% extends "base.html" %}
{% load static %}

{% block title %}Programmer Profile - 各界の統計{% endblock %}

{% block moreheader %}
<meta property="og:url" content="http://www.programmerprofile.net/stats/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Programmer Profile - 各界の統計" />
<meta property="og:site_name" content="Programmer Profile" >
<meta property="og:description" content="各界の統計" />
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h3>各界の戦闘力(推薦の総数)</h3>
                <p><small>推薦数が0の分野については表示していません。</small></p>
                <p><small>※ %表示は、一番を多い分野を100%とした際の割合です。</small></p>
            </div>

            <hr />

            {% for skillCombatPower in skillCombatPowers %}
            <table style="font-weight: bold; width: 100%;">
                <tr>
                    <td style="width: 170px;"><a href="/staruser/{{ skillCombatPower.subcategory | urlencode }}/">{{ skillCombatPower.subcategory }}</a></td>
                    <td style="width: 30px;">:{{ skillCombatPower.subcategory__count }}</td>
                    <td>
                        <div class="progress" style="margin: 10px;">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ skillCombatPower.subcategory__ratio }}%">
                                {{ skillCombatPower.subcategory__ratio }}%
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <hr />
            {% endfor%}
        </div>
    </div>
</div>

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- social -->
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
             }(document, 'script', 'facebook-jssdk'));
            </script>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div style="display: inline-block; vertical-align: top;">
                        <a href="http://b.hatena.ne.jp/entry/http://www.programmerprofile.net/stats/"
                           class="hatena-bookmark-button"
                           data-hatena-bookmark-layout="vertical-balloon"
                           data-hatena-bookmark-lang="ja"
                           title="このエントリーをはてなブックマークに追加">
                            <img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png"
                                 alt="このエントリーをはてなブックマークに追加"
                                 width="20"
                                 height="20"
                                 style="border: none;" />
                        </a>
                        <script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
                    </div>
                    <div style="display: inline-block; vertical-align: top;">
                        <a href="https://twitter.com/share"
                           class="twitter-share-button twitter-count-vertical"
                           data-hashtags="PgmrProf"
                           data-lang="ja" data-count="vertical">
                            ツイート
                        </a>
                        <script>
                         !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
                             if(!d.getElementById(id)){js=d.createElement(s);
                                 js.id=id;js.src="//platform.twitter.com/widgets.js";
                                 fjs.parentNode.insertBefore(js,fjs);
                             }
                         }(document,"script","twitter-wjs");
                        </script>
                    </div>
                    <div style="display: inline-block; vertical-align: top;">
                        <div class="fb-like" expr:data-href="data:post.url" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
