{% extends "base.html" %}
{% load static %}

{% block title %}Programmer Profile - @{{ userName }}さんの情報{% endblock %}

{% block moreheader %}
<meta property="og:url" content="http://www.programmerprofile.net/user/{{ userName }}/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Programmer Profile - @{{ userName }}さんの情報" />
<meta property="og:site_name" content="Programmer Profile" >
<meta property="og:description" content="@{{ userName }}さんの情報" />
{% endblock %}

{% block content %}

{% if status == 'UNKNOWN_USER' %}
<div class="page-header text-center">
    <h2 style="margin: 15px">Twitterにいないユーザーみたいです。</h2>
    <h4>別のユーザー名で試してみてね</h4>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="/user/" method="GET">
                <div class="row">
                    <div class="col-xs-11">
                        <input class="form-control" placeholder="Twitterユーザー名(@含めず)" name="username">
                    </div>
                    <div class="col-xs-1">
                        <button type="button" class="btn btn-primary" onclick="submit();">検索</button>
                    </div>
                </div>
            </form>
            <hr />
        </div>
    </div>
</div>
{% elif status == 'UNKNOWN_ERROR' %}
<div class="page-header text-center">
    <h2 style="margin: 15px">Twitterがエラーコード返してきました・・・</h2>
    <h4>お手数ですがしばらく経ってからお試しください。ずっと続くようでしたら、これまたお手数ですが@nakazyeまでご連絡頂けると幸いです</h4>
</div>
{% else %}

<div class="page-header text-center">
    <img src="{{ userImage }}" />
    <h3 style="margin: 15px"><a href="https://twitter.com/{{ userName }}" target="_blank">@{{ userName }}</a></h3>
    <h4>{{ userScreenName }}</h4>
    <p>{{ userDescription }}</p>

    <a href="https://twitter.com/{{ userName }}" class="twitter-follow-button" data-show-count="false" data-size="large">
        Follow @{{ userName }}
    </a>
    <script>
     !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
         if(!d.getElementById(id)){js=d.createElement(s);
             js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
             fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>
</div>

<div class="container">
    <div class="row">
        <div class="text-center">
            <h4>ソーシャルアカウント</h4>
        </div>
        <div class="col-md-4"></div>
		<div class="col-md-5">
            <table>
                <!-- github -->
                <tr>
                    <td style="width: 150px">
                        <p><img src="{% static 'img/social/github.png' %}" alt="github">&nbsp;github</p>
                    </td>
                    <td style="width: 400px">
                        <p>
                            {% if socialgithub.data %}
                            <!-- has data -->
                            <a href="https://github.com/{{ socialgithub.data }}" target="_blank">{{ socialgithub.data }}</a>&nbsp;
                            (&nbsp;
                            <a href="/user/{{ socialgithub.update.username }}">
                                <img src="{{ socialgithub.update.userImage }}" alt="@{{ socialgithub.update.username }}" width="15" height="15">さん
                            </a>
                            情報&nbsp;)&nbsp;
                            {% if user.is_authenticated %}
                            {% if user.username == userName %}
                            <a href="#" data-toggle="modal" data-target="#githubModal"><span class="label label-primary">
                                訂正/承認
                            </span></a>
                            {% elif not isUserConfirm %}
                            <a href="#" data-toggle="modal" data-target="#githubModal"><span class="label label-primary">
                                訂正
                            </span></a>
                            {% endif %}
                            {% endif %}

                            <!-- nodata -->
                            {% else %}
                            
                            {% if isUserConfirm %}
                            {%   if user.username == userName %}
                            <a href="#" data-toggle="modal" data-target="#githubModal">(データ登録)</a>
                            {%   else %}
                            <!-- blank -->
                            {%   endif %}
                            {% else %}
                            {%   if user.is_authenticated %}
                            <a href="#" data-toggle="modal" data-target="#githubModal">(ご存知だったら教えてください！)</a>
                            {%   else %}
                            (ご存知だったら教えてください！)
                            {%   endif %}
                            {% endif %}
                            
                            {% endif %}
                        </p>
                    </td>
                </tr>
                <!-- stackexchange -->
                <tr>
                    <td>
                        <p><img src="{% static 'img/social/stackoverflow.png' %}" alt="StackExchange">&nbsp;StackExchange</p>
                    </td>
                    <td>
                        <p>
                            {% if socialstackexchange.data %}
                            <!-- has data -->
                            <a href="http://stackexchange.com/users/{{ socialstackexchange.data }}" target="_blank">{{ socialstackexchange.data }}</a>&nbsp;
                            (&nbsp;
                            <a href="/user/{{ socialstackexchange.update.username }}">
                                <img src="{{ socialstackexchange.update.userImage }}" alt="@{{ socialstackexchange.update.username }}" width="15" height="15">さん
                            </a>
                            情報&nbsp;)&nbsp;
                            {% if user.is_authenticated %}
                            {% if user.username == userName %}
                            <a href="#" data-toggle="modal" data-target="#stackexchangeModal"><span class="label label-primary">
                                訂正/承認
                            </span></a>
                            {% elif not isUserConfirm %}
                            <a href="#" data-toggle="modal" data-target="#stackexchangeModal"><span class="label label-primary">
                                訂正
                            </span></a>
                            {% endif %}
                            {% endif %}
                            
                            <!-- nodata -->
                            {% else %}
                            
                            {% if isUserConfirm %}
                            {%   if user.username == userName %}
                            <a href="#" data-toggle="modal" data-target="#stackexchangeModal">(データ登録)</a>
                            {%   else %}
                            <!-- blank -->
                            {%   endif %}
                            {% else %}
                            {%   if user.is_authenticated %}
                            <a href="#" data-toggle="modal" data-target="#stackexchangeModal">(ご存知だったら教えてください！)</a>
                            {%   else %}
                            (ご存知だったら教えてください！)
                            {%   endif %}
                            {% endif %}
                            
                            {% endif %}
                        </p>
                    </td>
                </tr>
                <!-- slashdot(en) -->
                <tr>
                    <td>
                        <p><img src="{% static 'img/social/slashdot.png' %}" alt="slashdot(en)">&nbsp;slashdot(en)</p>
                    </td>
                    <td>
                        <p>
                            {% if socialslashdoten.data %}
                            <!-- has data -->
                            <a href="http://slashdot.org/~{{ socialslashdoten.data }}" target="_blank">{{ socialslashdoten.data }}</a>&nbsp;
                            (&nbsp;
                            <a href="/user/{{ socialslashdoten.update.username }}">
                                <img src="{{ socialslashdoten.update.userImage }}" alt="@{{ socialslashdoten.update.username }}" width="15" height="15">さん
                            </a>
                            情報&nbsp;)&nbsp;
                            {% if user.is_authenticated %}
                            {% if user.username == userName %}
                            <a href="#" data-toggle="modal" data-target="#slashdotenModal"><span class="label label-primary">
                                訂正/承認
                            </span></a>
                            {% elif not isUserConfirm %}
                            <a href="#" data-toggle="modal" data-target="#slashdotenModal"><span class="label label-primary">
                                訂正
                            </span></a>
                            {% endif %}
                            {% endif %}

                            <!-- nodata -->
                            {% else %}
                            
                            {% if isUserConfirm %}
                            {%   if user.username == userName %}
                            <a href="#" data-toggle="modal" data-target="#slashdotenModal">(データ登録)</a>
                            {%   else %}
                            <!-- blank -->
                            {%   endif %}
                            {% else %}
                            {%   if user.is_authenticated %}
                            <a href="#" data-toggle="modal" data-target="#slashdotenModal">(ご存知だったら教えてください！)</a>
                            {%   else %}
                            (ご存知だったら教えてください！)
                            {%   endif %}
                            {% endif %}
                            
                            {% endif %}
                        </p>
                    </td>
                </tr>
                <!-- slashdot(ja) -->
                <tr>
                    <td>
                        <p><img src="{% static 'img/social/slashdot.png' %}" alt="slashdot(ja)">&nbsp;slashdot(ja)</p>
                    </td>
                    <td>
                        <p>
                            {% if socialslashdotja.data %}
                            <!-- has data -->
                            <a href="http://slashdot.jp/~{{ socialslashdotja.data }}" target="_blank">{{ socialslashdotja.data }}</a>&nbsp;
                            (&nbsp;
                            <a href="/user/{{ socialslashdotja.update.username }}">
                                <img src="{{ socialslashdotja.update.userImage }}" alt="@{{ socialslashdotja.update.username }}" width="15" height="15">さん
                            </a>
                            情報&nbsp;)&nbsp;
                            {% if user.is_authenticated %}
                            {% if user.username == userName %}
                            <a href="#" data-toggle="modal" data-target="#slashdotjaModal"><span class="label label-primary">
                                訂正/承認
                            </span></a>
                            {% elif not isUserConfirm %}
                            <a href="#" data-toggle="modal" data-target="#slashdotjaModal"><span class="label label-primary">
                                訂正
                            </span></a>
                            {% endif %}
                            {% endif %}

                            <!-- nodata -->
                            {% else %}
                            
                            {% if isUserConfirm %}
                            {%   if user.username == userName %}
                            <a href="#" data-toggle="modal" data-target="#slashdotjaModal">(データ登録)</a>
                            {%   else %}
                            <!-- blank -->
                            {%   endif %}
                            {% else %}
                            {%   if user.is_authenticated %}
                            <a href="#" data-toggle="modal" data-target="#slashdotjaModal">(ご存知だったら教えてください！)</a>
                            {%   else %}
                            (ご存知だったら教えてください！)
                            {%   endif %}
                            {% endif %}
                            
                            {% endif %}
                        </p>
                    </td>
                </tr>
                <!-- qiita -->
                <tr>
                    <td>
                        <p><img src="{% static 'img/social/qiita.png' %}" alt="qiita">&nbsp;qiita</p>
                    </td>
                    <td>
                        <p>
                            {% if socialqiita.data %}
                            <!-- has data -->
                            <a href="http://qiita.com/{{ socialqiita.data }}" target="_blank">{{ socialqiita.data }}</a>&nbsp;
                            (&nbsp;
                            <a href="/user/{{ socialqiita.update.username }}">
                                <img src="{{ socialqiita.update.userImage }}" alt="@{{ socialqiita.update.username }}" width="15" height="15">さん
                            </a>
                            情報&nbsp;)&nbsp;
                            {% if user.is_authenticated %}
                            {% if user.username == userName %}
                            <a href="#" data-toggle="modal" data-target="#qiitaModal"><span class="label label-primary">
                                訂正/承認
                            </span></a>
                            {% elif not isUserConfirm %}
                            <a href="#" data-toggle="modal" data-target="#qiitaModal"><span class="label label-primary">
                                訂正
                            </span></a>
                            {% endif %}
                            {% endif %}

                            <!-- nodata -->
                            {% else %}
                            
                            {% if isUserConfirm %}
                            {%   if user.username == userName %}
                            <a href="#" data-toggle="modal" data-target="#qiitaModal">(データ登録)</a>
                            {%   else %}
                            <!-- blank -->
                            {%   endif %}
                            {% else %}
                            {%   if user.is_authenticated %}
                            <a href="#" data-toggle="modal" data-target="#qiitaModal">(ご存知だったら教えてください！)</a>
                            {%   else %}
                            (ご存知だったら教えてください！)
                            {%   endif %}
                            {% endif %}
                            
                            {% endif %}
                        </p>
                    </td>
                </tr>
                <!-- slideshare -->
                <tr>
                    <td>
                        <p><img src="{% static 'img/social/slideshare.png' %}" alt="slideshare">&nbsp;slideshare</p>
                    </td>
                    <td>
                        <p>
                            {% if socialslideshare.data %}
                            <!-- has data -->
                            <a href="http://slideshare.net/{{ socialslideshare.data }}" target="_blank">{{ socialslideshare.data }}</a>&nbsp;
                            (&nbsp;
                            <a href="/user/{{ socialslideshare.update.username }}">
                                <img src="{{ socialslideshare.update.userImage }}" alt="@{{ socialslideshare.update.username }}" width="15" height="15">さん
                            </a>
                            情報&nbsp;)&nbsp;
                            {% if user.is_authenticated %}
                            {% if user.username == userName %}
                            <a href="#" data-toggle="modal" data-target="#slideshareModal"><span class="label label-primary">
                                訂正/承認
                            </span></a>
                            {% elif not isUserConfirm %}
                            <a href="#" data-toggle="modal" data-target="#slideshareModal"><span class="label label-primary">
                                訂正
                            </span></a>
                            {% endif %}
                            {% endif %}

                            <!-- nodata -->
                            {% else %}
                            
                            {% if isUserConfirm %}
                            {%   if user.username == userName %}
                            <a href="#" data-toggle="modal" data-target="#slideshareModal">(データ登録)</a>
                            {%   else %}
                            <!-- blank -->
                            {%   endif %}
                            {% else %}
                            {%   if user.is_authenticated %}
                            <a href="#" data-toggle="modal" data-target="#slideshareModal">(ご存知だったら教えてください！)</a>
                            {%   else %}
                            (ご存知だったら教えてください！)
                            {%   endif %}
                            {% endif %}
                            
                            {% endif %}
                        </p>
                    </td>
                </tr>
                <!-- hatena -->
                <tr>
                    <td>
                        <p><img src="{% static 'img/social/hatena.png' %}" alt="hatena">&nbsp;hatena</p>
                    </td>
                    <td>
                        <p>
                            {% if socialhatena.data %}
                            <!-- has data -->
                            <a href="http://profile.hatena.ne.jp/{{ socialhatena.data }}/" target="_blank">{{ socialhatena.data }}</a>&nbsp;
                            (&nbsp;
                            <a href="/user/{{ socialhatena.update.username }}">
                                <img src="{{ socialhatena.update.userImage }}" alt="@{{ socialhatena.update.username }}" width="15" height="15">さん
                            </a>
                            情報&nbsp;)&nbsp;
                            {% if user.is_authenticated %}
                            {% if user.username == userName %}
                            <a href="#" data-toggle="modal" data-target="#hatenaModal"><span class="label label-primary">
                                訂正/承認
                            </span></a>
                            {% elif not isUserConfirm %}
                            <a href="#" data-toggle="modal" data-target="#hatenaModal"><span class="label label-primary">
                                訂正
                            </span></a>
                            {% endif %}
                            {% endif %}

                            <!-- nodata -->
                            {% else %}
                            
                            {% if isUserConfirm %}
                            {%   if user.username == userName %}
                            <a href="#" data-toggle="modal" data-target="#hatenaModal">(データ登録)</a>
                            {%   else %}
                            <!-- blank -->
                            {%   endif %}
                            {% else %}
                            {%   if user.is_authenticated %}
                            <a href="#" data-toggle="modal" data-target="#hatenaModal">(ご存知だったら教えてください！)</a>
                            {%   else %}
                            (ご存知だったら教えてください！)
                            {%   endif %}
                            {% endif %}
                            
                            {% endif %}
                        </p>
                    </td>
                </tr>
                <!-- Quora -->
                <tr>
                    <td>
                        <p><img src="{% static 'img/social/quora.png' %}" alt="quora">&nbsp;Quora</p>
                    </td>
                    <td>
                        <p>
                            {% if socialquora.data %}
                            <!-- has data -->
                            <a href="https://www.quora.com/{{ socialquora.data }}/" target="_blank">{{ socialquora.data }}</a>&nbsp;
                            (&nbsp;
                            <a href="/user/{{ socialquora.update.username }}">
                                <img src="{{ socialquora.update.userImage }}" alt="@{{ socialquora.update.username }}" width="15" height="15">さん
                            </a>
                            情報&nbsp;)&nbsp;
                            {% if user.is_authenticated and user.username == userName %}
                            <a href="#" data-toggle="modal" data-target="#quoraModal"><span class="label label-primary">
                                訂正
                            </span></a>
                            {% endif %}
                            {% else %}
                            <!-- no data -->
                            {% if user.is_authenticated and user.username == userName  %}
                            <a href="#" data-toggle="modal" data-target="#quoraModal">(実名制の為本人のみ更新可能)</a>
                            {% else %}
                            {% if not isUserConfirm %}
                            (実名制の為本人のみ更新可能)
                            {% endif %}
                            {% endif %}
                            {% endif %}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><img src="{% static 'img/social/linkedin.png' %}" alt="linkedin">&nbsp;linkedin</p>
                    </td>
                    <!-- LinkedIn -->
                    <td>
                        <p>
                            {% if sociallinkedin.data %}
                            <!-- has data -->
                            <a href="https://www.linkedin.com/profile/view?id={{ sociallinkedin.data }}/" target="_blank">{{ sociallinkedin.data }}</a>&nbsp;
                            (&nbsp;
                            <a href="/user/{{ sociallinkedin.update.username }}">
                                <img src="{{ sociallinkedin.update.userImage }}" alt="@{{ sociallinkedin.update.username }}" width="15" height="15">さん
                            </a>
                            情報&nbsp;)&nbsp;
                            {% if user.is_authenticated and user.username == userName %}
                            <a href="#" data-toggle="modal" data-target="#linkedinModal"><span class="label label-primary">
                                訂正
                            </span></a>
                            {% endif %}
                            {% else %}
                            <!-- no data -->
                            {% if user.is_authenticated and user.username == userName  %}
                            <a href="#" data-toggle="modal" data-target="#linkedinModal">(実名制の為本人のみ更新可能)</a>
                            {% else %}
                            {% if not isUserConfirm %}
                            (実名制の為本人のみ更新可能)
                            {% endif %}
                            {% endif %}
                            {% endif %}
                        </p>
                    </td>
                </tr>
                <!-- facebook -->
                <tr>
                    <td>
                        <p><img src="{% static 'img/social/facebook.png' %}" alt="facebook">&nbsp;facebook</p>
                    </td>
                    <td>
                        <p>
                            {% if socialfacebook.data %}
                            <!-- has data -->
                            <a href="https://www.facebook.com/{{ socialfacebook.data }}/" target="_blank">{{ socialfacebook.data }}</a>&nbsp;
                            (&nbsp;
                            <a href="/user/{{ socialfacebook.update.username }}">
                                <img src="{{ socialfacebook.update.userImage }}" alt="@{{ socialfacebook.update.username }}" width="15" height="15">さん
                            </a>
                            情報&nbsp;)&nbsp;
                            {% if user.is_authenticated and user.username == userName %}
                            <a href="#" data-toggle="modal" data-target="#facebookModal"><span class="label label-primary">
                                訂正
                            </span></a>
                            {% endif %}
                            {% else %}
                            <!-- no data -->
                            {% if user.is_authenticated and user.username == userName  %}
                            <a href="#" data-toggle="modal" data-target="#facebookModal">(実名制の為本人のみ更新可能)</a>
                            {% else %}
                            {% if not isUserConfirm %}
                            (実名制の為本人のみ更新可能)
                            {% endif %}
                            {% endif %}
                            {% endif %}
                        </p>
                    </td>
                </tr>
                <!-- google+ -->
                <tr>
                    <td>
                        <p><img src="{% static 'img/social/googleplus.png' %}" alt="google+">&nbsp;google+</p>
                    </td>
                    <td>
                        <p>
                            {% if socialgoogleplus.data %}
                            <!-- has data -->
                            <a href="https://plus.google.com/{{ socialgoogleplus.data }}/" target="_blank">{{ socialgoogleplus.data }}</a>&nbsp;
                            (&nbsp;
                            <a href="/user/{{ socialgoogleplus.update.username }}">
                                <img src="{{ socialgoogleplus.update.userImage }}" alt="@{{ socialgoogleplus.update.username }}" width="15" height="15">さん
                            </a>
                            情報&nbsp;)&nbsp;
                            {% if user.is_authenticated and user.username == userName %}
                            <a href="#" data-toggle="modal" data-target="#googleplusModal"><span class="label label-primary">
                                訂正
                            </span></a>
                            {% endif %}
                            {% else %}
                            <!-- no data -->
                            {% if user.is_authenticated and user.username == userName  %}
                            <a href="#" data-toggle="modal" data-target="#googleplusModal">(実名制の為本人のみ更新可能)</a>
                            {% else %}
                            {% if not isUserConfirm %}
                            (実名制の為本人のみ更新可能)
                            {% endif %}
                            {% endif %}
                            {% endif %}
                        </p>
                    </td>
                </tr>
            </table>
            {% if not user.is_authenticated %}
            <div class="text-center">
                <p><small>※ログインする事で編集が可能になります</small></p>
            </div>
            {% else %}
            <div class="text-center">
                <br />
                <p><small>※訂正して空入力の状態で保存することで、削除できます<br />※本人の入力が一つでもある場合は他者の編集不可となります</small></p>
            </div>
            {% endif %}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
		<div class="col-md-4">
            <div class="text-center">
                <h4>
                    ホームページ/ブログ
                    {% if user.is_authenticated and user.username == userName %}
                    &nbsp;<a href="#" data-toggle="modal" data-target="#userhpModal"><span class="label label-primary">追加</span></a>
                    {% endif %}
                </h4>
                <br />

                {% for userhp in userhps %}
                {% if userhp.data %}
                <p>
                    <a href="{{ userhp.data }}" target="_blank">{{ userhp.data }}</a>
                    {% if user.is_authenticated and user.username == userName %}
                    &nbsp;<a href="javascript:void(frm{{ userhp.subcategory }}.submit());"><span class="label label-primary">削除</span></a>
                    <form  action="/updateInfo" method="post" name="frm{{ userhp.subcategory }}">
                        {% csrf_token %}
                        <input type='hidden' name='username' value='{{ userName }}' />
                        <input type='hidden' name='category' value='userhp' />
                        <input type='hidden' name='account' value='' />
                        <input type='hidden' name='subcategory' value='{{ userhp.subcategory }}' />
                    </form>
                    {% endif %}
                </p>
                {% endif %}
                {% endfor %}
                <br />
                <div class="text-center">
                    <p><small>※編集は本人のみ可能です</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
		<div class="col-md-8">
            <div class="text-center">
                <h4>
                    このユーザーのスキル
                    {% if user.is_authenticated %}
                    &nbsp;<a href="#" data-toggle="modal" data-target="#skillModal"><span class="label label-primary">新しいスキルを推薦する</span></a>
                    {% endif %}
                </h4>
                <br />
                {% for skill, recommenders in userskills.items %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a href="/staruser/{{ skill | urlencode }}/">{{ skill }}</a></h3>

                        {# list comprehensions and generator expressions are not supported.... #}
                        {% for recommender in recommenders %}
                        {% if user.username == recommender.update.username %}
                        <form action="/updateInfo" method="post">
                            {% csrf_token %}
                            <input type='hidden' name='username' value='{{ userName }}' />
                            <input type='hidden' name='category' value='skill' />
                            <input type='hidden' name='subcategory' value='{{ skill }}' />
                            <input type='hidden' name='account' value='delete' />
                            <br />
                            <button type="submit" class="btn btn-primary btn-xs">推薦を取り消す</button>
                        </form>
                        <!-- 苦肉の策
                        {% endif %}
                        {% endfor %}                        

                        {% if user.is_authenticated %}
                        <form action="/updateInfo" method="post">
                            {% csrf_token %}
                            <input type='hidden' name='username' value='{{ userName }}' />
                            <input type='hidden' name='category' value='skill' />
                            <input type='hidden' name='subcategory' value='{{ skill }}' />
                            <input type='hidden' name='account' value='skilled' />
                            <br />
                            <button type="submit" class="btn btn-primary btn-xs">推薦する</button>
                        </form>
                        {% endif %}

                        {% for recommender in recommenders %}
                        {% if user.username == recommender.update.username %}
                            苦肉の策 -->
                        {% endif %}
                        {% endfor %}  
                        
                    </div>
                    <div class="panel-body">
                        {% for recommender in recommenders %}
                        <a href="/user/{{ recommender.update.username }}">
                            <img src="{{ recommender.update.userImage }}" alt="@{{ recommender.update.username }}" width="20" height="20">
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <br />
                {% endfor %}
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
		<div class="col-md-8">
            <div class="text-center">
                <h4>紹介文</h4>
                <small>※誹謗中傷系の紹介文は管理者が予告なく削除します</small>
                <br /><br />
                {% if user.is_authenticated %}
                <form action="/updateInfo" method="post">
                    <div class="col-xs-10">
                        <input class="form-control" placeholder="紹介文を書く" name="account">
                        {% csrf_token %}
                        <input type='hidden' name='username' value='{{ userName }}' />
                        <input type='hidden' name='category' value='comment' />
                        <input type='hidden' name='subcategory' value='commented' />
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-primary" onclick="submit();"">登録/更新</button>
                    </div>
                </form>
                <br /><br />
                {% endif %}
            </div>

            {% for usercomment in usercomments %}
            <div class="media">
                <div class="media-left">
                    <a href="/user/{{ usercomment.update.username }}">
                        <img src="{{ usercomment.update.userImage }}" alt="@{{ usercomment.update.username }}" width="35" height="35">
                    </a>
                </div>
                <div class="media-body">
                    <a href="/user/{{ usercomment.update.username }}">
                        <h4 class="media-heading">@{{ usercomment.update.username }}</h4>
                    </a>
                    {{ usercomment.data }}
                </div>
            </div>
            {% endfor %}
            
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<hr />


<!-- github -->
<div class="modal fade" id="githubModal" tabindex="-1" role="dialog" aria-labelledby="githubModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <form action="/updateInfo" method="post">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="githubModalLabel">githubアカウント名</h4>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-xs-12">
                          <label>https://github.com/&lt;アカウント名&gt; の&lt;アカウント名&gt;の部分を入力してください。</label>
                          <input class="form-control" name="account" value="{{ socialgithub.data }}" placeholder="アカウント名" />
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  {% csrf_token %}
                  <input type='hidden' name='username' value='{{ userName }}' />
                  <input type='hidden' name='category' value='social' />
                  <input type='hidden' name='subcategory' value='github' />
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="submit();">Save changes</button>
              </div>
          </form>
      </div>
  </div>
</div>

<!-- stackexchange -->
<div class="modal fade" id="stackexchangeModal" tabindex="-1" role="dialog" aria-labelledby="stackexchangeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <form action="/updateInfo" method="post">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="stackexchangeModalLabel">StackExchange ID</h4>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-xs-12">
                          <label>http://stackexchange.com/users/&lt;数字のID&gt;/&lt;アカウント名&gt; の&lt;数字のID&gt;の部分を入力してください。</label>
                          <input class="form-control" name="account" value="{{ socialstackexchange.data }}" placeholder="数字のID" />
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  {% csrf_token %}
                  <input type='hidden' name='username' value='{{ userName }}' />
                  <input type='hidden' name='category' value='social' />
                  <input type='hidden' name='subcategory' value='stackexchange' />
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="submit();">Save changes</button>
              </div>
          </form>
      </div>
  </div>
</div>

<!-- slashdot(en) -->
<div class="modal fade" id="slashdotenModal" tabindex="-1" role="dialog" aria-labelledby="slashdotenModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <form action="/updateInfo" method="post">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="slashdotenModalLabel">slashdotアカウント名</h4>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-xs-12">
                          <label>http://slashdot.org/~&lt;アカウント名&gt;&nbsp;の&lt;アカウント名&gt;の部分を入力してください。</label>
                          <input class="form-control" name="account" value="{{ socialslashdoten.data }}" placeholder="アカウント名" />
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  {% csrf_token %}
                  <input type='hidden' name='username' value='{{ userName }}' />
                  <input type='hidden' name='category' value='social' />
                  <input type='hidden' name='subcategory' value='slashdoten' />
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="submit();">Save changes</button>
              </div>
          </form>
      </div>
  </div>
</div>

<!-- slashdot(ja) -->
<div class="modal fade" id="slashdotjaModal" tabindex="-1" role="dialog" aria-labelledby="slashdotjaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <form action="/updateInfo" method="post">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="slashdotjaModalLabel">slashdotアカウント名</h4>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-xs-12">
                          <label>http://slashdot.jp/~&lt;アカウント名&gt;&nbsp;の&lt;アカウント名&gt;の部分を入力してください。</label>
                          <input class="form-control" name="account" value="{{ socialslashdotja.data }}" placeholder="アカウント名" />
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  {% csrf_token %}
                  <input type='hidden' name='username' value='{{ userName }}' />
                  <input type='hidden' name='category' value='social' />
                  <input type='hidden' name='subcategory' value='slashdotja' />
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="submit();">Save changes</button>
              </div>
          </form>
      </div>
  </div>
</div>

<!-- qiita -->
<div class="modal fade" id="qiitaModal" tabindex="-1" role="dialog" aria-labelledby="qiitaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <form action="/updateInfo" method="post">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="qiitaModalLabel">qiitaアカウント名</h4>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-xs-12">
                          <label>http://qiita.com/&lt;アカウント名&gt;&nbsp;の&lt;アカウント名&gt;の部分を入力してください。</label>
                          <input class="form-control" name="account" value="{{ socialqiita.data }}" placeholder="アカウント名" />
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  {% csrf_token %}
                  <input type='hidden' name='username' value='{{ userName }}' />
                  <input type='hidden' name='category' value='social' />
                  <input type='hidden' name='subcategory' value='qiita' />
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="submit();">Save changes</button>
              </div>
          </form>
      </div>
  </div>
</div>

<!-- slideshare -->
<div class="modal fade" id="slideshareModal" tabindex="-1" role="dialog" aria-labelledby="slideshareModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <form action="/updateInfo" method="post">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="qiitaModalLabel">slideshareアカウント名</h4>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-xs-12">
                          <label>http://slideshare.net/&lt;アカウント名&gt;&nbsp;の&lt;アカウント名&gt;の部分を入力してください。</label>
                          <input class="form-control" name="account" value="{{ socialslideshare.data }}" placeholder="アカウント名" />
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  {% csrf_token %}
                  <input type='hidden' name='username' value='{{ userName }}' />
                  <input type='hidden' name='category' value='social' />
                  <input type='hidden' name='subcategory' value='slideshare' />
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="submit();">Save changes</button>
              </div>
          </form>
      </div>
  </div>
</div>

<!-- hatena -->
<div class="modal fade" id="hatenaModal" tabindex="-1" role="dialog" aria-labelledby="hatenaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <form action="/updateInfo" method="post">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="hatenaModalLabel">hatenaアカウント名</h4>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-xs-12">
                          <label>http://profile.hatena.ne.jp/&lt;アカウント名&gt;&nbsp;の&lt;アカウント名&gt;の部分を入力してください。</label>
                          <input class="form-control" name="account" value="{{ socialhatena.data }}" placeholder="アカウント名" />
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  {% csrf_token %}
                  <input type='hidden' name='username' value='{{ userName }}' />
                  <input type='hidden' name='category' value='social' />
                  <input type='hidden' name='subcategory' value='hatena' />
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="submit();">Save changes</button>
              </div>
          </form>
      </div>
  </div>
</div>

<!-- Quora -->
<div class="modal fade" id="quoraModal" tabindex="-1" role="dialog" aria-labelledby="quoraModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <form action="/updateInfo" method="post">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="quoraModalLabel">Quoraアカウント名</h4>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-xs-12">
                          <label>https://www.quora.com/&lt;アカウント名&gt;&nbsp;の&lt;アカウント名&gt;の部分を入力してください。</label>
                          <input class="form-control" name="account" value="{{ socialquora.data }}" placeholder="アカウント名" />
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  {% csrf_token %}
                  <input type='hidden' name='username' value='{{ userName }}' />
                  <input type='hidden' name='category' value='social' />
                  <input type='hidden' name='subcategory' value='quora' />
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="submit();">Save changes</button>
              </div>
          </form>
      </div>
  </div>
</div>

<!-- LinkedIn -->
<div class="modal fade" id="linkedinModal" tabindex="-1" role="dialog" aria-labelledby="linkedinModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <form action="/updateInfo" method="post">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="linkedinModalLabel">LinkedIn ID</h4>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-xs-12">
                          <label>https://www.linkedin.com/profile/view?id=&lt;数字のID&gt;&nbsp;の&lt;数字のID&gt;の部分を入力してください。</label>
                          <input class="form-control" name="account" value="{{ sociallinkedin.data }}" placeholder="数字のID" />
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  {% csrf_token %}
                  <input type='hidden' name='username' value='{{ userName }}' />
                  <input type='hidden' name='category' value='social' />
                  <input type='hidden' name='subcategory' value='linkedin' />
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="submit();">Save changes</button>
              </div>
          </form>
      </div>
  </div>
</div>

<!-- facebook -->
<div class="modal fade" id="facebookModal" tabindex="-1" role="dialog" aria-labelledby="facebookModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <form action="/updateInfo" method="post">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="facebookModalLabel">facebook ID</h4>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-xs-12">
                          <label>https://www.facebook.com/&lt;英数字のID&gt;&nbsp;の&lt;英数字のID&gt;の部分を入力してください。</label>
                          <input class="form-control" name="account" value="{{ socialfacebook.data }}" placeholder="英数字のID" />
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  {% csrf_token %}
                  <input type='hidden' name='username' value='{{ userName }}' />
                  <input type='hidden' name='category' value='social' />
                  <input type='hidden' name='subcategory' value='facebook' />
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="submit();">Save changes</button>
              </div>
          </form>
      </div>
  </div>
</div>

<!-- google+ -->
<div class="modal fade" id="googleplusModal" tabindex="-1" role="dialog" aria-labelledby="googleplusModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <form action="/updateInfo" method="post">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="googleplusModalLabel">Google+ ID</h4>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-xs-12">
                          <label>https://plus.google.com/&lt;数字のID&gt;&nbsp;の&lt;数字のID&gt;の部分を入力してください。</label>
                          <input class="form-control" name="account" value="{{ socialgoogleplus.data }}" placeholder="数字のID" />
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  {% csrf_token %}
                  <input type='hidden' name='username' value='{{ userName }}' />
                  <input type='hidden' name='category' value='social' />
                  <input type='hidden' name='subcategory' value='googleplus' />
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="submit();">Save changes</button>
              </div>
          </form>
      </div>
  </div>
</div>

<!-- user homepage / blog -->
<div class="modal fade" id="userhpModal" tabindex="-1" role="dialog" aria-labelledby="userhpModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <form action="/updateInfo" method="post">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="userhpModalLabel">ホームページ/ブログのURL</h4>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-xs-12">
                          <label>URLを入力してください。</label>
                          <input class="form-control" name="account" value="" placeholder="URL" />
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  {% csrf_token %}
                  <input type='hidden' name='username' value='{{ userName }}' />
                  <input type='hidden' name='category' value='userhp' />
                  <input type='hidden' name='subcategory' value='' />
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="submit();">Save changes</button>
              </div>
          </form>
      </div>
  </div>
</div>

<!-- skill -->
<div class="modal fade" id="skillModal" tabindex="-1" role="dialog" aria-labelledby="skillModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <form action="/updateInfo" method="post">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="skillModalLabel">このユーザーが得意なこと</h4>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-xs-12">
                          <p><label>このユーザーが得意な事を教えてください</label></p>
                          <select class="selectpicker" name="subcategory" data-live-search="true">
                              <optgroup label="言語">
                                  {% for option in skillLanguageCategory %}
                                  <option value="{{ option }}">{{option}}</option>
                                  {% endfor %}
                              </optgroup>
                              <optgroup label="特定プラットフォーム向け開発">
                                  {% for option in skillPlatformCategory %}
                                  <option value="{{ option }}">{{option}}</option>
                                  {% endfor %}
                              </optgroup>
                              <optgroup label="エディタ/IDE">
                                  {% for option in skillEditorCategory %}
                                  <option value="{{ option }}">{{option}}</option>
                                  {% endfor %}
                              </optgroup>
                              <optgroup label="その他">
                                  {% for option in skillOthersCategory %}
                                  <option value="{{ option }}">{{option}}</option>
                                  {% endfor %}
                              </optgroup>
                          </select>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  {% csrf_token %}
                  <input type='hidden' name='username' value='{{ userName }}' />
                  <input type='hidden' name='category' value='skill' />
                  <input type='hidden' name='account' value='skilled' />
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="submit();">Save changes</button>
              </div>
          </form>
      </div>
  </div>
</div>

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- social -->
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
             }(document, 'script', 'facebook-jssdk'));
            </script>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div style="display: inline-block; vertical-align: top;">
                        <a href="http://b.hatena.ne.jp/entry/http://www.programmerprofile.net/user/{{ userName }}/"
                           class="hatena-bookmark-button"
                           data-hatena-bookmark-layout="vertical-balloon"
                           data-hatena-bookmark-lang="ja"
                           title="このエントリーをはてなブックマークに追加">
                            <img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png"
                                 alt="このエントリーをはてなブックマークに追加"
                                 width="20"
                                 height="20"
                                 style="border: none;" />
                        </a>
                        <script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
                    </div>
                    <div style="display: inline-block; vertical-align: top;">
                        <a href="https://twitter.com/share"
                           class="twitter-share-button twitter-count-vertical"
                           data-hashtags="PgmrProf"
                           data-lang="ja" data-count="vertical">
                            ツイート
                        </a>
                        <script>
                         !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
                             if(!d.getElementById(id)){js=d.createElement(s);
                                 js.id=id;js.src="//platform.twitter.com/widgets.js";
                                 fjs.parentNode.insertBefore(js,fjs);
                             }
                         }(document,"script","twitter-wjs");
                        </script>
                    </div>
                    <div style="display: inline-block; vertical-align: top;">
                        <div class="fb-like" expr:data-href="data:post.url" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
